.container {
  width: 100%;
  max-width: 60rem; /* 960px */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem 1rem 2rem;

  font-size: 1.2rem;
  font-weight: 400;
}

.pageTitle {
  text-align: center;
  margin: 1rem 1rem 0.6rem 1rem;

  font-size: 1.6rem;
  font-weight: 600;
  color: darkslategray;
}

.description {
  width: 100%;
}

.description p {
  text-indent: 2rem;
  margin-bottom: 0.5rem;
}

.imageContainer {
  padding: 1rem;
  max-width: 100%;
}

.image {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .pageTitle {
    font-size: 1.25rem;
  }

  .container {
    font-size: 1rem;

    padding: 0.6rem 0.6rem 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  .pageTitle {
    font-size: 0.9rem;
  }

  .container {
    font-size: 0.8rem;

    padding: 0.3rem 0.3rem 0.8rem;
  }
}
