html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.external_link {
  color: blue;

  font-weight: 600;

  word-break: break-all;
}

.external_link:hover,
.external_link:focus {
  text-decoration: underline;
  color: navy;
}

.external_link:focus {
  outline: none;
}

.current_link {
  color: darkslategrey;
}
