.pageTitle {
  text-align: center;
  /* margin: 1rem; */
  margin: 1rem 1rem .2rem 1rem;

  font-size: 2rem;
  font-weight: 600;
  color: darkslategray;  
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexItem {
  margin: 1rem;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexItemTitle {
  display: block;
  margin-bottom: .6rem;

  /* color: darkslategray;   */
  color: black;

  font-weight: 500;
  font-size: 1.4rem;
}

.flexItemTitle:hover {
  color: blue;
  text-decoration: underline;
}

.imageLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.imageContainer {
  padding: 1rem;
  max-width: 100vw;

  border: 2px solid darkslategray;
}

.imageContainer:hover {
  /* transform: translateY(-.4rem); */
  /* border: 2px solid blue; */
  border: 2px dotted blue;
  opacity: .8;
}

@media screen and (max-width: 800px) {
  .pageTitle {
    font-size: 1.4rem;
  }

  .flexItemTitle {
    font-size: 1rem;
  }  
}

@media screen and (max-width: 400px) {
  .pageTitle {
    font-size: 1rem;
  }

  .flexItemTitle {
    font-size: .8rem;
  }  
}