.pageTitle {
  text-align: center;
  
  margin: 1rem 1rem .2rem 1rem;

  font-size: 1.6rem;
  font-weight: 600;
  color: darkslategray;  
}

.projectsContainer {
  min-height: 100%;
  width: 100%;
  padding: 0 0.5rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flexItem {
  margin: 1rem;

  /* width: 100%; */
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.flexItemTitle {
  display: block;
  margin-bottom: .6rem;

  /* color: darkslategray;   */
  color: black;

  font-weight: 500;
  font-size: 1.2rem;
}

.flexItemTitle:hover {
  color: blue;
  text-decoration: underline;
}

.imageLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.imageContainer {
  padding: 1rem;
  max-width: 100vw;

  border: 2px solid darkslategray;
}

.imageContainer:hover {
  border: 2px dotted blue;
  opacity: .8;
}

.image {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .flexItem {
    width: 100%;
  }  
}

@media screen and (max-width: 800px) {
  .pageTitle {
    font-size: 1.2rem;
  }

  .flexItemTitle {
    font-size: 1rem;
  }  
}

@media screen and (max-width: 400px) {
  .pageTitle {
    font-size: .9rem;
  }

  .flexItemTitle {
    font-size: .8rem;
  }  
}